<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API Pesquisa de Satisfação </title>
    <h1>{reprograma} + Mercado Livre </h1>
</head>
<table>
    <thead>
        <tr>
            <th>Analista</th>
            <th>Média</th>
            <th>Qtidade de Pesquisas</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <% oi %>
            <tr></tr>
    </tbody>
</table>
<body>
    
</body>
</html>